<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="edu.uci.isr.archstudio4.views"
            class="edu.uci.isr.archstudio4.comp.xarchcs.views.variability.VariabilityViewPart"
            icon="res/icons/relationships_view.gif"
            id="edu.uci.isr.archstudio4.comp.xarchcs.view.variability.VariabilityViewPart"
            name="Variability">
      </view>
   </extension>

</plugin>
